<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title> Trang chủ</title>   
</head>
<body>
    <div>
        <div class="container">
            <div class="row">
                <div class="col bg-danger">
                    <img src="/image/ngan.jpg" class="img-thumbnail w-100" alt="">
                </div>
                <div class="col bg-info">
                    <img src="/image/ngan.jpg" class="img-thumbnail w-100" alt="">
                </div>
                <div class="col bg-warning">
                    <img src="/image/ngan.jpg" class="img-thumbnail w-100" alt="">
                </div>
                <div class="col bg-danger">
                    <img src="/image/ngan.jpg" class="img-thumbnail w-100" alt="">
                </div>
            </div>
        </div>
    
    </div>
</body>
</html>