<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      
    </title>
</head>
<body>
    <div class="">
        <table class="table border-dark table-bordered table-striped-custom">
            <thead>
              <tr>
                <th>STT</th>
                <th>Tên</th>
                <th>Tài khoản</th>
                <th>Giới tính</th>
                <th>Email</th>
                <th>Địa chỉ</th>
                <th>Quyền</th>
                <th>Cấu hình</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>1</th>
                <th>Huỳnh Nhật Khang</th>
                <th>hnk</th>
                <th>nam</th>
                <th>nhatkhang@gmnail</th>
                <th>Cần Thơ</th>
                <th>admin</th>
                <th>
                    <a href="/detail-user/Khang" class="text-black">
                        <i class="fa fa-eye fa-2" aria-hidden="true"></i>
                    </a>
                    <a href=""class="text-warning">
                        <i class="fa fa-pencil-square" aria-hidden="true"></i>
                    </a>
                    <a href=""class="text-danger">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </th>
              </tr>
              <tr>
                <th>2</th>
                <th>Nguyễn Tấn Kiệt</th>
                <th>ntk</th>
                <th>Nam</th>
                <th>tkiet@gmnail</th>
                <th>Trà Vinh</th>
                <th>User</th>
                <th>
                    <a href="/detail-user/Kiet" class="text-black">
                        <i class="fa fa-eye fa-2" aria-hidden="true"></i>
                    </a>
                    <a href=""class="text-warning">
                        <i class="fa fa-pencil-square" aria-hidden="true"></i>
                    </a>
                    <a href=""class="text-danger">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </th>
              </tr>
              <tr>
                <th>3</th>
                <th>Lê Công Lĩnh</th>
                <th>lcl</th>
                <th>Nam</th>
                <th><i class="fa fa-line-chart" aria-hidden="true"></i>@gmnail</th>
                <th>Vĩnh Long</th>
                <th>user</th>
                <th>
                    <a href="/detail-user/linh" class="text-black">
                        <i class="fa fa-eye fa-2" aria-hidden="true"></i>
                    </a>
                    <a href=""class="text-warning">
                        <i class="fa fa-pencil-square" aria-hidden="true"></i>
                    </a>
                    <a href=""class="text-danger">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </th>
              </tr>

            </tbody>
        </table>
    </div>
    <div>
        <%=data.test%> -  <%=data.to%>
    </div>
</body>
</html>