<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      
    </title>
</head>
<body>
    <div class="">
        <table class="table border-dark table-bordered table-striped-custom">
            <thead>
              <tr>
                <th>STT</th>
                <th>Tên</th>
                <th>Tài khoản</th>
                <th>Giới tính</th>
                <th>Email</th>
                <th>Địa chỉ</th>
                <th>Quyền</th>
                <th>Cấu hình</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>1</th>
                <th>Lê Thanh Ngân</th>
                <th>ltn</th>
                <th>nữ</th>
                <th>ltngan@gmnail</th>
                <th>Đồng Tháp</th>
                <th>admin</th>
                <th>
                    <a href="/detail-user/Ngan" class="text-black">
                        <i class="fa fa-eye fa-2" aria-hidden="true"></i>
                    </a>
                    <a href=""class="text-warning">
                        <i class="fa fa-pencil-square" aria-hidden="true"></i>
                    </a>
                    <a href=""class="text-danger">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </th>
              </tr>
              <tr>
                <th>2</th>
                <th>Trầm Quốc Ninh</th>
                <th>tqn</th>
                <th>Nam</th>
                <th>ninhbao@gmnail</th>
                <th>Trà Vinh</th>
                <th>User</th>
                <th>
                    <a href="/detail-user/Ninh" class="text-black">
                        <i class="fa fa-eye fa-2" aria-hidden="true"></i>
                    </a>
                    <a href=""class="text-warning">
                        <i class="fa fa-pencil-square" aria-hidden="true"></i>
                    </a>
                    <a href=""class="text-danger">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </th>
              </tr>
              <tr>
                <th>3</th>
                <th>Trần Thanh Toàn</th>
                <th>ttt</th>
                <th>Nam</th>
                <th>toanbao@gmnail</th>
                <th>Vĩnh Long</th>
                <th>user</th>
                <th>
                    <a href="/detail-user/toanbao" class="text-black">
                        <i class="fa fa-eye fa-2" aria-hidden="true"></i>
                    </a>
                    <a href=""class="text-warning">
                        <i class="fa fa-pencil-square" aria-hidden="true"></i>
                    </a>
                    <a href=""class="text-danger">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </th>
              </tr>

            </tbody>
        </table>
    </div>
    <div>
        <%=data.test%> -  <%=data.to%>
    </div>
</body>
</html>