<nav class="navbar navbar-expand-sm bg-info text-body ">
  
    <div class="container-fluid ms-5">
      <ul class="navbar-nav ms-5">
        <li class="nav-item">
          <a class ="nav-link active" href="/"><b>Trang chủ</b></a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/list-user/1"><b>Danh sách tài khoản</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about"><b>About</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login"><b>Đăng nhập</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/create-new-user"><b>Tạo tài khoản</b></a>
        </li>
      </ul>
    </div>
</nav> 